{% extends 'base.html' %}{% block content %}
<section class="hero">
  <h1>Welcome to MyBlog</h1>
  <p>Your go-to place for interesting articles and updates!</p>
  <a href="{% url 'create-blog' %}" class="cta-button">Post a blog</a>
</section>

<section class="latest-posts">
  <h2>Latest Posts</h2>
  <ul>
    {% for blog in blogs %}
    <li>
      <a href="">{{ blog.title }}</a>
      <p>{{ blog.short_desc }}</p>
      <small>By {{blog.author}}</small>
    </li>
    {% empty %}
    <li>No posts available yet. Stay tuned!</li>
    {% endfor %}
  </ul>
</section>

<section class="about">
  <h2>About Me</h2>
  <p>
    Hi, I'm Sulav Ghimire, the creator of this blog app. I created this blog app
    so that people can express their thoughts, experiences, and ideas on various
    topics, including technology, life, and more!
  </p>
  <a href="" class="cta-button">Learn More About Me</a>
</section>
{% endblock %}
